/* CSS for YUI Editor used in Bloog */
.yui-skin-sam .yui-toolbar-container .yui-toolbar-python span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-python-selected span.yui-toolbar-icon {
  background-image: url(images/py.gif);
  background-position: 1px 0px;
  left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-groovy span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-groovy-selected span.yui-toolbar-icon {
  background-image: url(images/groovy.gif);
  background-position: 0px 0px;
  left: 2px;
  width: 24px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-js span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-js-selected span.yui-toolbar-icon {
  background-image: url(images/js.gif);
  background-position: 1px 0px;
  left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-java span.yui-toolbar-icon ,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-java-selected span.yui-toolbar-icon {
  background-image: url(images/java.gif);
  background-position: 0px 0px;
  left: 3px;
  width: 22px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-html span.yui-toolbar-icon {
  background-image: url(images/html.gif);
  background-position: 0px 0px;
  left: 2px;
  width: 24px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-html-selected span.yui-toolbar-icon {
  background-image: url(images/html.gif);
  background-position: 1px 0px;
  left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-css span.yui-toolbar-icon,
.yui-skin-sam .yui-toolbar-container .yui-toolbar-css-selected span.yui-toolbar-icon {
  background-image: url(images/css.gif);
  background-position: 0px 0px;
  left: 3px;
  width: 22px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-code span.yui-toolbar-icon {
  background-image: url(images/code.gif);
  background-position: 0px 0px;
  left: 2px;
  width: 26px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-code-selected span.yui-toolbar-icon {
  background-image: url(images/code.gif);
  background-position: 1px 0px;
  left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-editraw span.yui-toolbar-icon, 
.yui-skin-sam .yui-toolbar-container .yui-button-editraw-selected span.yui-toolbar-icon {
  background-image: url(images/html_editor.gif);
  background-position: 0 1px;
  left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-uploadimage span.yui-toolbar-icon, 
.yui-skin-sam .yui-toolbar-container .yui-button-uploadimage-selected span.yui-toolbar-icon {
  background-image: url(images/image_new.gif);
  background-position: 0 1px;
  left: 5px;
}


/* for comment form */
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertpre span.yui-toolbar-icon, 
.yui-skin-sam .yui-toolbar-container .yui-button-insertpre-selected span.yui-toolbar-icon {
  background-image:url(images/html_editor.gif);
  background-position:0 1px;
  left:5px;
}