{% if user_is_admin %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/default/editor.css" />
{% endblock %}

<div id="postDialog" class="popupDialog">
    <div class="hd">Post Editor</div>
    <div class="bd">
        <form id="postDialogForm" name="postDialogForm" method="post" action="#">
            <div class='p'>
              <div class='row'>
                <label for="postTitle">Title:</label><br />
                <input type="text" id="postTitle" name="title" size="50"></input>
              </div>
              <div class='row right'>
                <label for="postTags">Tags:</label><br />
                <input type="text" id="postTags" name="tags" size="50"></input><br />
                <sup><em>Separate tags with commas</em></sup>
              </div>
            </div>
            <div class='p'>
              <em><a href='#' id='moreOptionsLink'>More Options...</a></em>
              <div id='moreOptionsContainer' style='display:none'>
                <div class='row'>
                  <label for='postDate'>Publish Date:</label><br />
                  <div id='postDateContainer'></div>
                  <input type='text' id='postDate' name='published' size="20"></input>
                </div>
                <div class='row right'>
                  <label for='legacyID'>Legacy ID mapping:</label><br />
                  <input type='text' id='legacyID' name='legacy_id' size="20"></input>
                </div>
              </div>
            </div>
            <textarea id="postBody" name="body" cols="50" rows="10">
                <strong>Please enter your text here.</strong>
                <p>It will be sent to the server on submit.</p>
            </textarea>
            <input type="hidden" name="format" value="html" />
        </form>
    </div>
</div>
<div id='imageUpload'>
  <div class='bd'>
    <form id='imageUploadForm' action='/imgstore/' method='post' enctype='multipart/form-data'>
      <p>Select an image file to upload.  It will be inserted into your post.</p>
      <div class='p'><input type="file" name="file" /></div>
      <div class='p'><label for='insertAction'>After upload:</label>
        <input type="radio" name="insertAction" value='link' checked='true' id='insertAndLink' /> Link
        <input type="radio" name="insertAction" value='inline' /> Inline image
      </div>
      <div class='p' style='display:none'><input type="submit" value="Upload"></div>
    </form>
  </div>
</div>

{% if debug %}
<!--<script type="text/javascript" src="/static/hosted/yui/combo-admin-min.js"></script>-->
<script type="text/javascript" src="/static/hosted/yui/json/json.js"></script>
<script type="text/javascript" src="/static/hosted/yui/animation/animation.js"></script>
<script type="text/javascript" src="/static/hosted/yui/connection/connection.js"></script>
<script type="text/javascript" src="/static/hosted/yui/container/container.js"></script>
<script type="text/javascript" src="/static/hosted/yui/menu/menu.js"></script>
<script type="text/javascript" src="/static/hosted/yui/element/element.js"></script>
<script type="text/javascript" src="/static/hosted/yui/button/button.js"></script>
<script type="text/javascript" src="/static/hosted/yui/editor/editor.js"></script>
<script type="text/javascript" src="/static/hosted/yui/calendar/calendar.js"></script>
<script type="text/javascript" src="/static/default/js/ojay/pkg/forms.js"></script>
<script type="text/javascript" src="/static/default/js/bloog_admin.js"></script>
{% else %}
<script type="text/javascript" src="http://yui.yahooapis.com/combo?{{yui_version}}/build/json/json-min.js&{{yui_version}}/build/animation/animation-min.js&{{yui_version}}/build/connection/connection-min.js&{{yui_version}}/build/container/container-min.js&{{yui_version}}/build/menu/menu-min.js&{{yui_version}}/build/element/element-min.js&{{yui_version}}/build/button/button-min.js&{{yui_version}}/build/editor/editor-min.js&{{yui_version}}/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="/static/default/js/ojay/pkg/forms.js"></script>
<script type="text/javascript" src="/static/default/js/bloog_admin-min.js"></script>
{% endif %}

{% endif %}

