<li id="comment-{{ comment.key }}" class="alt item indent{{ comment.get_indentation }}">
    <div class="fix">
        <p class="comment_meta">
            {% if use_gravatars and comment.email %}
            <img class="gravatar" src="http://www.gravatar.com/avatar/{{comment.email|gravatar}}?s=32&r=g&d=identicon" alt="avatar" />
            {% endif %}
            <span class="subject">{{ comment.title|default:"Re: Article" }}</span>

            <span class="date">{{ comment.published.date }}</span>
            <span class="user">{% if comment.homepage %}
              <a href='{{comment.homepage}}' title='commenter homepage'>{{ comment.name|default:"Anonymous" }}</a>
              {% else %}
                {{ comment.name|default:"Anonymous" }}
              {% endif %}</span>
        </p>
        <div class="comment_text">
            {{ comment.body }}
        </div>
        {% if allow_comments %}
        <p class="post_meta">
            {% if user_is_admin %}
            <a class="deletebtn" title="Delete Comment" href="/comment/{{ comment.key }}">Delete</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}
            <a class="replybtn" title="Reply to Comment" href="/comment/{{ comment.key }}#comment-{{ comment.key }}">Reply</a>
        </p>
        {% endif %}
    </div>
</li>
