<div id="commentDialog" class="popupDialog initialHide">
    <div class="hd">Enter Your Comment</div>
    <div class="bd">
        <form id="commentDialogForm" name="commentDialogForm" method="post" action="#">
            <p>
                <label for="commentName">Name:</label><br />
                <input type="text" id="commentName" name="name" size="50" />
            </p>
            <div class='p'>
              <div class='row'>
                <label for="commentEmail">E-mail: (used for Gravatar)</label><br />
                <input type="text" id="commentEmail" name="email" size="50" />
              </div>
              <div class='row right'>
                <label for="commentHomepage">Homepage:</label><br />
                <input type="text" id="commentHomepage" name="homepage" size="50" />
              </div>
            </div>
            <p>
                <label for="commentTitle">Comment Title:</label><br />
                <input type="text" id="commentTitle" name="title" size="50" />
            </p>
            <input type='hidden' id='commentKey' name='key' />
            <input type='hidden' name='article_id' value='{{ article.permalink }}' />
            <textarea name="body" id="commentBody" cols="50" rows="10">
                <strong>Please enter your comment here.</strong>
            </textarea>

            <span id='recaptcha_pub_key' style='display:none'>{{ captcha }}</span>
            <div id='recaptcha_container'></div>
        </form>
    </div>
</div>

{% if not user_is_admin %}
<!-- Load scripts if not already loaded due to admin interface -->
<script type="text/javascript" src="http://yui.yahooapis.com/combo?{{yui_version}}/build/animation/animation-min.js&{{yui_version}}/build/connection/connection-min.js&{{yui_version}}/build/container/container-min.js&{{yui_version}}/build/menu/menu-min.js&{{yui_version}}/build/element/element-min.js&{{yui_version}}/build/button/button-min.js&{{yui_version}}/build/editor/editor-min.js"></script>
<script type="text/javascript" src="/static/default/js/ojay/pkg/forms-min.js"></script>
<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
{% else %}
<script type='text/javascript'>
$$.onDOMReady( function() {
 $('commentEmail').value = '{{ author_email }}';
 $('commentName').value = '{{ author_name }}';
 $('commentHomepage').value = '{{ blog.root_url }}';
});
</script>
{% endif %}
{% if debug %}
<script type="text/javascript" src="/static/default/js/bloog_comments.js"></script>
{% else %}
<script type="text/javascript" src="/static/default/js/bloog_comments-min.js"></script>
{% endif %}
